# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.pytest_cache/
.ruff_cache/

# Project Secrets & Logs
keys/
logs/
*.log

# Infrastructure
.terraform/
*.tfvars
*.tfstate*

# IDEs
.vscode/
.idea/
